{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  <title>Delete Teacher Data</title>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 class="text-center mb-4">Delete Teacher Record</h1>
    {% if teachers %}
      <h2 class="text-center mb-4">All Teachers</h2>
    {% endif %}

    {% if messages %}
      <div class="alert alert-info">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}

    {% if success_message %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ success_message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    <div class="row">
      {% for teacher in teachers %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <img src="{% static 'core/img/teacher.jpg' %}" class="card-img-top" alt="Teacher Image" />
              <p class="card-title text-center">Teacher Details</p>
              <span class="card-text">Name: {{ teacher.full_name }}</span>
              <span class="card-text">Age: {{ teacher.age }}</span>
              <span class="card-text">Date of Birth: {{ teacher.date_of_birth }}</span>
              <span class="card-text">Classes: {{ teacher.classes }}</span>
              <form action="{% url 'delete-teacher' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="teacher_id" value="{{ teacher.id }}" />
                <button type="submit" class="btn btn-danger btn-home">Delete Teacher</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
