<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEACHER-MANAGEMENT-APPLICATION</title>
</head>

<body>
    <div style="text-align: center;">
        <h1 style="text-align: center;">TEACHER-MANAGEMENT-APPLICATION</h1>

        <img src="https://github.com/neeraj779/Teacher-Management-Application/assets/85169876/71e79365-9663-40c1-a0a5-446dcd969a14" alt="banner">

        <h3>◦ Developed with the software and tools below.</h3>

        <p style="text-align: center;">
            <img src="https://img.shields.io/badge/Python-3776AB.svg?style=flat-square&logo=Python&logoColor=white" alt="Python" />
            <img src="https://img.shields.io/badge/Django-092E20.svg?style=flat-square&logo=Django&logoColor=white" alt="Django" />
        </p>

        <img src="https://img.shields.io/github/license/neeraj779/Teacher-Management-Application?style=flat-square&color=5D6D7E" alt="GitHub license" />
        <img src="https://img.shields.io/github/last-commit/neeraj779/Teacher-Management-Application?style=flat-square&color=5D6D7E" alt="git-last-commit" />
        <img src="https://img.shields.io/github/commit-activity/m/neeraj779/Teacher-Management-Application?style=flat-square&color=5D6D7E" alt="GitHub commit activity" />
    </div>

    <hr>

    <h2>📖 Table of Contents</h2>
    <ul>
        <li>📍 Overview</li>
        <li>📦 Features</li>
        <li>📂 Repository Structure</li>
        <li>⚙️ Modules</li>
        <li>🚀 Getting Started
            <ul>
                <li>🔧 Installation</li>
                <li>🤖 Running Teacher-Management-Application</li>
            </ul>
        </li>
    </ul>

    <hr>

    <h2>📍 Overview</h2>
    <p>
        The Teacher Management Application is a comprehensive solution designed for the management of teacher records,
        providing both console-based and backend functionalities.
    </p>

    <hr>

    <h2>📦 Features</h2>
    <p>
        The application focuses on delivering a user-friendly experience with a range of end-user features. These features include:
    </p>

    <h3>Landing/Home Page:</h3>
    <ul>
        <li>Show all teachers: View a list of all teachers.</li>
        <li>Add a teacher: Add a new teacher to the system.</li>
        <li>Filter teachers based on criteria: Implement filters to sort teachers based on age and the number of classes.</li>
        <li>Search for a teacher: Search for a specific teacher.</li>
        <li>Update a teacher's record: Modify information for a teacher.</li>
        <li>Delete a teacher: Remove a teacher from the system.</li>
    </ul>

    <h3>Teacher’s Record</h3>
    <p>
        Each teacher's record includes:
    </p>
    <ul>
        <li>Full Name: Complete name of the teacher.</li>
        <li>Age: Age of the teacher.</li>
        <li>Date of Birth: Birthdate of the teacher.</li>
        <li>Number of classes: The count of classes the teacher is responsible for.</li>
    </ul>

    <h3>Filter Teachers by Criteria</h3>
    <p>
        An additional option-based page is implemented to filter teachers:
    </p>
    <ul>
        <li>Filter by Age: Categorize teachers based on their age.</li>
        <li>Filter by the number of classes: Sort teachers according to the number of classes they teach.</li>
    </ul>

    <h3>File-Based System</h3>
    <p>
        The application uses a JSON file-based system to store and manage teacher records, ensuring data integrity and accessibility.
    </p>

    <h3>Bonus/Optional Task</h3>
    <p>
        An optional feature has been implemented to calculate and display the average number of classes taken by teachers. Users can also download a JSON file and import it into the system.
    </p>

    <hr>

    <h2>📂 Repository Structure</h2>
    <pre>
        ├── Teacher-Management-Application/
        │   ├── .env.example
        │   ├── .github/
        │   │   └── ISSUE_TEMPLATE/
        │   ├── console/
        │   │   └── main.py
        │   ├── core/
        │   │   ├── admin.py
        │   │   ├── apps.py
        │   │   ├── models.py
        │   │   ├── templates/
        │   │   │   └── core/
        │   │   ├── tests.py
        │   │   ├── urls.py
        │   │   └── views.py
        │   ├── manage.py
        │   ├── Procfile
        │   ├── requirements.txt
        │   └── TeacherManagement/
        │       ├── asgi.py
        │       ├── settings.py
        │       ├── urls.py
        │       └── wsgi.py
    </pre>

    <hr>

    <h2>⚙️ Modules</h2>

    <details closed>
        <summary>Root</summary>

        <table>
            <thead>
                <tr>
                    <th>File</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://github.com/neeraj779/Teacher-Management-Application/blob/main/.env.example">.env.example</a></td>
                    <td>Example environment file, providing necessary configurations.</td>
                </tr>
                <!-- More rows... -->
            </tbody>
        </table>
    </details>

    <hr>

    <h2>🚀 Getting Started</h2>

    <h3>Dependencies</h3>

    <p>Please ensure you have the following dependencies installed on your system:</p>

    <p>- ℹ️ Python 3.6 or higher</p>

    <h3>🔧 Installation</h3>

    <ol>
        <li>Clone the Teacher-Management-Application repository:</li>
        <pre>git clone https://github.com/neeraj779/Teacher-Management-Application</pre>
        <!-- More steps... -->
    </ol>

