{% extends 'core/base.html' %} {% load static %} {% block title %}
  <title>All Teachers</title>
{% endblock %} {% block content %}
  <div class="container mt-5">
    <h1 class="text-center mb-4">All Teachers</h1>
    <div class="row">
      {% for teacher in teachers %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <img src="{% static 'core/img/teacher.jpg' %}" class="card-img-top" alt="Teacher Image" />
              <p class="card-title text-center">Teacher Details</p>
              <span class="card-text">Name: {{ teacher.full_name }}</span>
              <span class="card-text">Age: {{ teacher.age }}</span>
              <span class="card-text">Date of Birth: {{ teacher.date_of_birth }}</span>
              <span class="card-text">Classes: {{ teacher.classes }}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if messages %}
      <div class="alert alert-info">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
