{% extends "core/base.html" %} {% block title %}
<title>All Teachers</title>
{% endblock title %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">All Teachers</h1>
  <div class="row">
    {% for teacher in teachers %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ teacher.full_name }}</h5>
          <p class="card-text">Age: {{ teacher.age }}</p>
          <p class="card-text">Date of Birth: {{ teacher.date_of_birth }}</p>
          <p class="card-text">Classes: {{ teacher.classes }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if messages %}
  <div class="alert alert-info">
    {% for message in messages %} {{ message }} {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock content %}
