body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 50px;
}

h1 {
    color: #007bff;
}

.row {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.card {
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    color: #697e91;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    transition: transform 0.3s;
}

.card-text {
    font-weight: 500;
    font-size: 1.1rem;
    color: #425675;
    display: flex;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.2rem;
}

.card-body {
    padding: 15px;
}

.card-img-top {
    height: 200px;
    width: 100%;
}

label {
    font-weight: bold;
    color: #495057;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.btn-home {
    width: 100%;
    margin-top: 10px;
}

.alert {
    margin-top: 20px;
}

.text-muted {
    color: #6c757d;
}

.nav-cus {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgba(42, 42, 114, 1) 100%);
    background: -webkit-linear-gradient(90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgba(42, 42, 114, 1) 100%);
    background: linear-gradient(90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgba(42, 42, 114, 1) 100%);
}

.nav-pad {
    padding: 0.5rem 1rem;
}

.navbar {
    background-color: #3498db;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-link:hover {
    color: #1abc9c;
}

.navbar {
    padding: 10px;
}

.navbar-nav {
    margin-right: auto;
}

.navbar {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.customInput {
    border-radius: 1.625rem;
    font-size: 1rem;
    height: 2.8rem;
    cursor: pointer;

}